# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
*.db
*.sqlite
*.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store